<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SocialStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SocialStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SocialStream.Properties.Settings>
      <setting name="IsProfanityFilterEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RetrievalOrder" serializeAs="String">
        <value>Chronological</value>
      </setting>
      <setting name="FlickrBans" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterBans" serializeAs="String">
        <value />
      </setting>
      <setting name="NewsBans" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoScrollDirection" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FacebookBans" serializeAs="String">
        <value />
      </setting>
      <setting name="FacebookClientSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DisplayFbContentFromOthers" serializeAs="String">
        <value>True</value>
      </setting>
    </SocialStream.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SocialStream.Properties.Settings>
      <setting name="NewsThemeColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="AutoScrollSpeed" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="ItemTimeoutFront" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="FlickrPollInterval" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="TwitterQuery" serializeAs="String">
        <value>@stimulant,microsoft,microsoft pixelsense,@mspixelsense,SUR40</value>
      </setting>
      <setting name="FlickrQuery" serializeAs="String">
        <value>microsoft pixelsense,pixelsense,SUR40</value>
      </setting>
      <setting name="NewsQuery" serializeAs="String">
        <value>http://blogs.msdn.com/b/pixelsense/rss.aspx,http://stimulant.io/wp/index.php/feed/</value>
      </setting>
      <setting name="ItemTimeoutBack" serializeAs="String">
        <value>00:00:45</value>
      </setting>
      <setting name="MinFeedItemDate" serializeAs="String">
        <value>2010-01-01</value>
      </setting>
      <setting name="TwitterPollInterval" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="NewsPollInterval" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="NewsForegroundColor" serializeAs="String">
        <value>#FFEEEEEE</value>
      </setting>
      <setting name="MinNewsSize" serializeAs="String">
        <value>325,270</value>
      </setting>
      <setting name="MaxNewsSize" serializeAs="String">
        <value>460,370</value>
      </setting>
      <setting name="MinStatusSize" serializeAs="String">
        <value>350,235</value>
      </setting>
      <setting name="MaxStatusSize" serializeAs="String">
        <value>350,235</value>
      </setting>
      <setting name="MinImageSize" serializeAs="String">
        <value>275,275</value>
      </setting>
      <setting name="MaxImageSize" serializeAs="String">
        <value>500,500</value>
      </setting>
      <setting name="VisualizationColor" serializeAs="String">
        <value>#FFE2E65B</value>
      </setting>
      <setting name="DistributeContentEvenly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NewItemAlert" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="AdminByteTagValue" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="TweetOpacity" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="NewsOpacity" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="AdminTimeoutDelay" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="EnableContentResizing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitterUsername" serializeAs="String">
        <value>endquote</value>
      </setting>
      <setting name="FlickrApiKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MicrosoftTagApiKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AdminByteTagSeries" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TwitterPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FacebookPollInterval" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="FacebookQuery" serializeAs="String">
        <value />
      </setting>
      <setting name="FacebookClientId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SocialThemeColor" serializeAs="String">
        <value>#FF666666</value>
      </setting>
      <setting name="SocialForegroundColor" serializeAs="String">
        <value>#FFE2E65B</value>
      </setting>
      <setting name="NewItemBorderColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
    </SocialStream.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMIBPContract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32768" maxStringContentLength="32768" maxArrayLength="32768" maxBytesPerRead="32768" maxNameTableCharCount="32768"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMIBPContract1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.tag.microsoft.com/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMIBPContract" contract="MicrosoftTagService.IMIBPContract" name="BasicHttpBinding_IMIBPContract"/>
    </client>
  </system.serviceModel>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
